
div.center {
    text-align: right;
}

.tabla {
    padding: 2%;
}

.llenar {
    float: left;
    width: 100%;
}

.container {
    margin: 0;
}

.sin-padding {
    padding: 0;
    margin: 0;
    width: 100%;
}

.llenar {
    padding: 0;
}

.boton-aceptar{
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.resumen{
    margin-top: 10px;
    width: 40%;
    float: right; 
}

.resumen-label{
    text-align: left;
    font-size: 1.2em;
}

#ruc-AC, #nombre-AC{
    height: 10px;
}

.add-margin{
    margin-top: 10px;
}

.addbutton{
    color: #00A118;
    float: left; 
}

label{
    text-align:left;
    padding-left: 10px;
    width: 100%;
    height: 100%;
}
.informacion{
    margin-top: 30px;
    margin-bottom: 30px;
}
.fact{
    padding: 0;
    background: #E0E0E0;
}

.encabezado, .row div{
    text-align: left;
    margin: 0;
}

.infoFact{
    background: #E0E0E0;
}

.separar{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}