.modalFooter {
    margin-right: auto;
    margin-left: auto;
    
}
.Contenedor{
    width: 50%;
}
.form-control:focus {
    border-color: #167bff;
    box-shadow: none;
    width: 50%;
}

.h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}